.emptyBlock {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;

  .empty {
    display: grid;
    align-items: center;
    justify-items: center;
    h4{
      text-align: center;
    }
  }
}

