@import "../../../assets/syles/common";

.header {
  grid-area: HL;
  background: var(--light-background-color);
  display: grid;
  grid-template-columns: $weight_sider 1fr;
  grid-template-rows: 1fr 62px 1fr;
  grid-template-areas: "title ." "title header" "title .";
}

.title {
  padding-left: 15px;
  grid-area: title;
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 7px;
  justify-items: start;
  align-items: center;
  border-right: 1px solid var(--border-color);

  .siderName {
    margin: 0;
  }

  .icon {
    color: $default_color;
    font-size: 1.5em;
    height: 28px;

    > * {
      background: $primary_color_gradient;
      border-radius: 5px;
    }
  }
}

.headerData {
  grid-area: header;
  display: grid;
  grid-template-columns: 300px 1fr 260px;
  grid-template-areas: "title . action";
  padding-inline: 15px;

  .headerTitle {
    grid-area: title;

    h2 {
      margin: 0;
    }
  }

  .headerAction {
    grid-area: action;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 10px 10px;
    justify-items: end;
    gap: 15px;

    .logout {
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: $primary_color;
      }
    }
  }


}


.errorEdit {
  font-size: $font-size_label;
  color: $error_color;
}

.authBlock {
  display: grid;
  gap: 5px;
  grid-template-columns: 100px 1fr;
}

.accessBlockLoading {
  height: 300px;
}

.accessBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 215px 215px;
  gap: 40px;

  .accessColumn {
    display: grid;
    height: 400px;
    grid-template-rows: 30px 1fr;
    gap: 5px;

    .column {
      background: var(--light-background-color);
      border: 1px solid var(--border-color);
      border-radius: 25px;
      padding: 20px;
      overflow-y: auto;
      .columnItem{
        cursor: default;
        margin: 5px 0;
        font-size: 12px;
        span{
          font-size: 11px;
          color: $mute_color
        }
      }
    }
    .dragging{
      border: 1px dashed $primary_color;
    }
  }
}
