<div class="modal-title">
  <h2 mat-dialog-title>{{ title | titlecase}}</h2>
  <button mat-icon-button color="primary" mat-dialog-close #close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="modal-content">
  <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-actions *ngIf="showActions" [align]="'end'">
  <button mat-button (click)="onDismissEvent()">{{ dismissTitle }}</button>
  <button mat-button (click)="onAcceptEvent()">{{ acceptTitle }}</button>
</mat-dialog-actions>
