@import "assetsStyles";

:host {
  display: block;
  height: 100vh;
}

.layout {
  height: 100%;
}

.layout-header {
  height: $header-height;
}

.layout-container {
  height: calc(100% - $header-height);
}

.container-drawer {
  width: 300px;
}

.layout-content {
  overflow-x: auto;
  position: relative;
  padding: 15px;

  .content-drawer-toggle {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
  }
}
