<div class="colum">
  <div class="column-title">
    <span class="title-color" [style.background]="column.color"></span>
    <div class="title-text">
      <span>{{ column.title }}</span>
      <mat-icon class="title-text__done" fontIcon="done" *ngIf="column.final_stage"></mat-icon>
    </div>
  </div>
  <div class="column-tasks" cdkDropList (cdkDropListDropped)="drop($event)">
    <app-task cdkDrag [cdkDragDisabled]="!!column.final_stage" *ngFor="let t of task" [task]="t"></app-task>
  </div>
</div>
