@import "../../../syles/common";

.loadingLayout {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;

  .loading {
    color: $primary_color;
    font-size: 5rem !important;
  }
}

.loading {
  animation: 1s linear 0s normal none infinite running loading;
  font-size: 1.1rem;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
